[submodule "Engine/Code"]
	path = Engine/Code
	url = https://github.com/tankiJong/morph-engine
	branch = master
[submodule "Projects/RenderZoo"]
	path = Projects/RenderZoo
	url = https://github.com/tankiJong/render-zoo
	branch = master
[submodule "Projects/TankWar"]
	path = Projects/TankWar
	url = git@github.com:tankiJong/tank-war.git
